# Settings 
---

### Caution üöß  

ÏïÑÎûò ÎÇ¥Ïö©ÏùÑ ÏàòÏ†ïÌïòÎ©¥ ÌîÑÎ°úÍ∑∏Îû®Ïù¥ Ï†ïÏÉÅÏ†ÅÏúºÎ°ú ÎèôÏûëÌïòÏßÄ ÏïäÏùÑ Ïàò ÏûàÏäµÎãàÎã§.

In [30]:
from os.path import join

url = "https://gist.githubusercontent.com/pparkddo/bc96cb657e95a11eeb783ab2cb60a798/raw/97d9518f8e98b1606bfd00fa5a371071b25d44e8/"

In [31]:
import numpy as np

In [32]:
import pandas as pd

# Problems
---

Í∞Å Î¨∏Ï†úÎ•º ÌíÄÍ∏∞Ï†Ñ ÏûÖÎ†•Í∞íÏù¥ ÏûàÎäî ÏÖÄÏùÑ Íº≠! Ïã§ÌñâÏãúÏºúÏ£ºÏÖîÏïº Ìï©ÎãàÎã§.

In [33]:
# vscodeÏóêÏÑú Ïã§ÌñâÌï† ÎïåÎäî ÌïÑÏöî
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

1. `array` `a` Ïùò Î™®Îì† ÏõêÏÜåÏùò Ìï©ÏùÑ Íµ¨ÌïòÏÑ∏Ïöî.

In [34]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

a = pd.read_csv(join(url, "excercise_random_numbers.csv"), header=None).squeeze().to_numpy()

In [35]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

a.sum()

503049

2. `array` `a` Ïùò `dtype` Ïùò Ïù¥Î¶Ñ(`name`)ÏùÑ Ï∂úÎ†•ÌïòÏÑ∏Ïöî.

In [36]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

a = pd.read_csv(join(url, "excercise_random_numbers.csv"), header=None).squeeze().to_numpy()

In [37]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

a.dtype.name

'int64'

3. `array` `a` Ïóê ÏûàÎäî Í∞íÎì§ Ï§ë Í∞ÄÏû• ÌÅ∞ Í∞íÏùÑ Íµ¨ÌïòÏÑ∏Ïöî.

In [38]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

a = pd.read_csv(join(url, "excercise_random_numbers.csv"), header=None).squeeze().to_numpy()

In [39]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî
a.max()

9870

4. Í≤ΩÎ°ú `path` Ïóê ÏûàÎäî `csv` ÌååÏùºÏùÑ ÏùΩÏñ¥ÏÑú `df` ÎùºÎäî Î≥ÄÏàòÏóê Ìï†ÎãπÌïòÏÑ∏Ïöî.

In [40]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

path = join(url, "excercise_records.csv")

In [41]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

df = pd.read_csv(path)

5. `DataFrame` `df` Ïùò `[student_id, answer]` Ïó¥Îßå ÏÑ†ÌÉùÌïòÏó¨ `df` ÎùºÎäî Î≥ÄÏàòÏóê Ìï†ÎãπÌïòÏÑ∏Ïöî.

In [42]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_records.csv"))

In [43]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî
df = df[["student_id", "answer"]]

6. `DataFrame` `df` Ï§ë `age` Ïó¥ Í∞íÏù¥ `40` Ïù¥ÏÉÅÏù∏ ÌñâÎì§Îßå ÏÑ†ÌÉùÌïòÏó¨ `df` ÎùºÎäî Î≥ÄÏàòÏóê Ìï†ÎãπÌïòÏÑ∏Ïöî.

In [44]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_information.csv"))

In [45]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

is_greater_equal_than_40 = df["age"] >= 40
df = df.loc[is_greater_equal_than_40]

7. `DataFrame` `df` Ïùò `favorite_number`Ïó¥ Í∞íÏóê `2`Î•º Í≥±Ìïú Îã§Ïùå `-1` ÏùÑ Ìïú Í∞íÏùÑ Íµ¨ÌïòÍ≥†,  
   `df` Ïùò `modified` Ïù¥ÎùºÎäî Ïù¥Î¶ÑÏúºÎ°ú Ïó¥ÏùÑ Ï∂îÍ∞ÄÌïòÏÑ∏Ïöî.

In [46]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_information.csv"))

In [47]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

df["modified"] = df["favorite_number"] * 2 - 1

8. `DataFrame` `df` Ïùò `department` Î≥Ñ `age` Í∞íÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏãúÏò§.

In [48]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_information.csv"))

In [49]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî
df.groupby("department")["age"].mean()

department
A    36.750000
B    38.666667
C    36.153846
D    36.727273
E    39.100000
Name: age, dtype: float64

9. `DataFrame` `df`Î•º `timestamp` Ïó¥ Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨ÌïòÏÑ∏Ïöî.

In [50]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_records.csv"), parse_dates=["timestamp"])

In [51]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

df.sort_values("timestamp")

     student_id           timestamp  answer
289          11 2021-03-10 09:00:00       5
414          50 2021-03-10 09:00:00       5
819           5 2021-03-10 09:01:00       3
159           8 2021-03-10 09:01:00       4
179          16 2021-03-10 09:01:00       5
..          ...                 ...     ...
470          40 2021-03-10 17:53:00       5
810          34 2021-03-10 17:56:00       4
326          42 2021-03-10 17:56:00       3
914          45 2021-03-10 17:57:00       2
196           7 2021-03-10 17:58:00       1

[1000 rows x 3 columns]

10. `DataFrame` `df` Ïùò `student_id` ÏùÑ ÌñâÏúºÎ°ú, Í∞Å `answer` Îì§ÏùÑ Ïó¥Î°ú Í∞ÄÏßÄÎ©∞,  
    Í∞íÏúºÎ°úÎäî `timestamp` Ïùò Í∞úÏàò(`count`)Î•º Í∞ÄÏßÄÎäî `DataFrame` ÏùÑ ÎßåÎìúÏÑ∏Ïöî.  
    (ÏïÑÎûò ÏòàÏãúÎ°ú ÎÇòÏò§Îäî `DataFrame` Í≥º ÎèôÏùºÌïòÍ≤å ÎßåÎì§Î©¥ Îê©ÎãàÎã§.)

In [52]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_records.csv"))

In [53]:
# Î¨∏Ï†úÏùò Ï∂úÎ†• ÏòàÏãúÏûÖÎãàÎã§. 'df' Î•º Ï°∞ÏûëÌïòÏó¨ ÏïÑÎûòÏôÄ ÎèôÏùºÌïú DataFrame ÏùÑ ÏÉùÏÑ±ÌïòÎ©¥ Îê©ÎãàÎã§.

pd.read_csv(join(url, "excercise_records_pivoted.csv")).set_index("student_id")

              1    2     3    4    5
student_id
1           4.0  8.0   6.0  2.0  3.0
2           4.0  3.0   3.0  3.0  4.0
3           3.0  5.0   3.0  5.0  4.0
4           4.0  5.0   6.0  3.0  2.0
5           7.0  4.0   7.0  7.0  2.0
6           3.0  3.0   9.0  5.0  1.0
7           2.0  7.0   5.0  4.0  1.0
8           7.0  5.0   6.0  3.0  3.0
9           3.0  5.0   1.0  5.0  2.0
10          3.0  6.0   1.0  2.0  5.0
11          6.0  2.0   2.0  5.0  5.0
12          4.0  9.0   6.0  3.0  4.0
13          3.0  1.0   5.0  7.0  6.0
14          6.0  6.0   7.0  5.0  NaN
15          4.0  2.0   6.0  2.0  2.0
16          2.0  3.0   3.0  4.0  5.0
17          2.0  3.0   3.0  3.0  5.0
18          3.0  2.0   2.0  2.0  4.0
19          1.0  2.0   3.0  3.0  2.0
20          3.0  2.0   3.0  3.0  3.0
21          3.0  3.0   3.0  7.0  4.0
22          2.0  5.0   6.0  3.0  4.0
23          4.0  4.0   5.0  7.0  3.0
24          6.0  3.0   6.0  7.0  3.0
25          4.0  6.0   4.0  4.0  2.0
26          5.0  4.0   NaN  7.0  1.0
27          2.0  2.0   6.0  3.0  3.0
28          3.0  4.0   3.0  2.0  3.0
29          3.0  4.0   8.0  2.0  5.0
30          3.0  3.0   3.0  5.0  7.0
31          1.0  2.0   6.0  3.0  5.0
32          3.0  7.0   4.0  2.0  6.0
33          2.0  2.0   5.0  2.0  3.0
34          3.0  5.0  12.0  7.0  5.0
35          1.0  6.0   4.0  2.0  4.0
36          8.0  5.0   5.0  7.0  3.0
37          6.0  4.0   5.0  8.0  2.0
38          6.0  4.0   2.0  4.0  6.0
39          5.0  3.0   2.0  2.0  8.0
40          4.0  4.0   4.0  5.0  5.0
41          4.0  5.0   3.0  3.0  1.0
42          3.0  8.0   6.0  7.0  1.0
43          4.0  3.0   7.0  3.0  2.0
44          4.0  1.0   7.0  5.0  4.0
45          5.0  4.0   4.0  5.0  1.0
46          1.0  3.0   NaN  7.0  2.0
47          2.0  5.0   6.0  5.0  3.0
48          6.0  3.0   5.0  3.0  5.0
49          3.0  4.0   5.0  5.0  8.0
50          1.0  7.0   3.0  2.0  5.0

In [54]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

df.pivot_table(index="student_id", columns="answer", values="timestamp", aggfunc="count")

answer        1    2     3    4    5
student_id
1           4.0  8.0   6.0  2.0  3.0
2           4.0  3.0   3.0  3.0  4.0
3           3.0  5.0   3.0  5.0  4.0
4           4.0  5.0   6.0  3.0  2.0
5           7.0  4.0   7.0  7.0  2.0
6           3.0  3.0   9.0  5.0  1.0
7           2.0  7.0   5.0  4.0  1.0
8           7.0  5.0   6.0  3.0  3.0
9           3.0  5.0   1.0  5.0  2.0
10          3.0  6.0   1.0  2.0  5.0
11          6.0  2.0   2.0  5.0  5.0
12          4.0  9.0   6.0  3.0  4.0
13          3.0  1.0   5.0  7.0  6.0
14          6.0  6.0   7.0  5.0  NaN
15          4.0  2.0   6.0  2.0  2.0
16          2.0  3.0   3.0  4.0  5.0
17          2.0  3.0   3.0  3.0  5.0
18          3.0  2.0   2.0  2.0  4.0
19          1.0  2.0   3.0  3.0  2.0
20          3.0  2.0   3.0  3.0  3.0
21          3.0  3.0   3.0  7.0  4.0
22          2.0  5.0   6.0  3.0  4.0
23          4.0  4.0   5.0  7.0  3.0
24          6.0  3.0   6.0  7.0  3.0
25          4.0  6.0   4.0  4.0  2.0
26          5.0  4.0   NaN  7.0  1.0
27          2.0  2.0   6.0  3.0  3.0
28          3.0  4.0   3.0  2.0  3.0
29          3.0  4.0   8.0  2.0  5.0
30          3.0  3.0   3.0  5.0  7.0
31          1.0  2.0   6.0  3.0  5.0
32          3.0  7.0   4.0  2.0  6.0
33          2.0  2.0   5.0  2.0  3.0
34          3.0  5.0  12.0  7.0  5.0
35          1.0  6.0   4.0  2.0  4.0
36          8.0  5.0   5.0  7.0  3.0
37          6.0  4.0   5.0  8.0  2.0
38          6.0  4.0   2.0  4.0  6.0
39          5.0  3.0   2.0  2.0  8.0
40          4.0  4.0   4.0  5.0  5.0
41          4.0  5.0   3.0  3.0  1.0
42          3.0  8.0   6.0  7.0  1.0
43          4.0  3.0   7.0  3.0  2.0
44          4.0  1.0   7.0  5.0  4.0
45          5.0  4.0   4.0  5.0  1.0
46          1.0  3.0   NaN  7.0  2.0
47          2.0  5.0   6.0  5.0  3.0
48          6.0  3.0   5.0  3.0  5.0
49          3.0  4.0   5.0  5.0  8.0
50          1.0  7.0   3.0  2.0  5.0

11. `DataFrame` `records` Ïóê Í∞Å ÌïôÏÉùÏóê ÎåÄÌïú Ï†ïÎ≥¥Î•º Ï∂îÍ∞ÄÌïòÎ†§ Ìï©ÎãàÎã§.  
    `records` ÏôÄ `information` Ïùò `student_id` Î•º `key`Î°ú ÌïòÏó¨ ÌïòÎÇòÏùò ÌÖåÏù¥Î∏îÎ°ú Ìï©ÏπòÏÑ∏Ïöî.

In [55]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

records = pd.read_csv(join(url, "excercise_records.csv"))
information = pd.read_csv(join(url, "excercise_information.csv"))

In [56]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

records.merge(information, on="student_id")

     student_id            timestamp  answer department  age  favorite_number
0            36  2021-03-10 09:18:00       5          C   47              662
1            36  2021-03-10 14:43:00       4          C   47              662
2            36  2021-03-10 12:37:00       3          C   47              662
3            36  2021-03-10 10:34:00       1          C   47              662
4            36  2021-03-10 10:57:00       1          C   47              662
..          ...                  ...     ...        ...  ...              ...
995          19  2021-03-10 10:31:00       3          C   37              861
996          19  2021-03-10 09:37:00       5          C   37              861
997          19  2021-03-10 09:25:00       4          C   37              861
998          19  2021-03-10 16:44:00       1          C   37              861
999          19  2021-03-10 10:47:00       2          C   37              861

[1000 rows x 6 columns]

12. `DataFrame` `df` Ïùò `timestamp` Ïó¥ÏùÑ `str` `dtype` ÏóêÏÑú `datetime` `dtype` ÏúºÎ°ú Î≥ÄÍ≤ΩÌïòÏÑ∏Ïöî.

In [57]:
# Î¨∏Ï†úÏùò ÏûÖÎ†•Í∞íÏûÖÎãàÎã§. ÏàòÏ†ïÌïòÎ©¥ Ï†ïÎãµÏù¥ Îã¨ÎùºÏßà Ïàò ÏûàÏäµÎãàÎã§.

df = pd.read_csv(join(url, "excercise_records.csv"))

In [58]:
# ÏïÑÎûòÏóê Ï†ïÎãµÏΩîÎìúÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî

df["timestamp"] = pd.to_datetime(df["timestamp"])